* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
}

header {
    background-image: url("images/pattern.jpeg");
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}