* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica;
}

header {
    background-image: url("images/pattern.jpeg");
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

#brushes h2 {
    background-color: mediumspringgreen;

}

#frames h2 {
    background-color: lightcoral;
}

#paint h2 {
    background-color: skyblue;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}

#price {
    color: #0000ff;
    font-weight: bold;
}

h3, p {
    text-align: left;
}